.vagrant
/www/wordpress/.editorconfig
/www/wordpress/.htaccess
/www/wordpress/index.php
/www/wordpress/license.txt
/www/wordpress/readme.html
/www/wordpress/sitemap.xml
/www/wordpress/sitemap.xml.gz
/www/wordpress/wp-activate.php
/www/wordpress/wp-blog-header.php
/www/wordpress/wp-comments-post.php
/www/wordpress/wp-config-sample.php
/www/wordpress/wp-config.php
/www/wordpress/wp-cron.php
/www/wordpress/wp-links-opml.php
/www/wordpress/wp-load.php
/www/wordpress/wp-login.php
/www/wordpress/wp-mail.php
/www/wordpress/wp-settings.php
/www/wordpress/wp-signup.php
/www/wordpress/wp-trackback.php
/www/wordpress/xmlrpc.php
/www/wordpress/wp-admin/
/www/wordpress/wp-content/advanced-cache.php
/www/wordpress/wp-content/backup-db/
/www/wordpress/wp-content/backups/
/www/wordpress/wp-content/blogs.dir/
/www/wordpress/wp-content/cache/
/www/wordpress/wp-content/languages/
/www/wordpress/wp-content/plugins/
#/www/wordpress/wp-content/themes/
/www/wordpress/wp-content/themes/index.php
/www/wordpress/wp-content/themes/twentyfifteen/
/www/wordpress/wp-content/themes/twentyfourteen/
/www/wordpress/wp-content/themes/twentysixteen/
/www/wordpress/wp-content/upgrade/
#/www/wordpress/wp-content/uploads/
/www/wordpress/wp-content/wp-cache-config.php
/www/wordpress/wp-content/index.php
/www/wordpress/wp-includes/
